<!DOCTYPE html>
<html>
  <body>
    <div>
      <div id="divText">
        <h4 id="info">Information about the job:</h4>
        <p id="text"></p>
      </div>
      <div id="divSalary">
        <p id="sal">salary fer hour:</p>
        <p id="salary"></p>
      </div>
      <div id="divEexperions">
        <p id="exp">The experiense you need for this job</p>
        <p id="experions"></p>
      </div>
    </div>
    <div>
      <div>
        <h4>Information about the company:</h4>
        <p id="company-name"></p>
        <p id="employees"></p>
        <p id="years"></p>
      </div>
    </div>
  </body>
</html>
